$tipografia-principal: 'roboto', sans-serif;
$tipografia-secundaria:  'Montserrat', sans-serif;
$color-gris-footer: rgba(74, 74, 74, 0.547);
$fuente-grande: 4rem;
$fuente-mediana: 2rem;
$fuente-intermedia: 1.5rem;
$fuente-subintermedia: 1.2rem;
$fuente-chica: 1rem;
$fuente-small: small;


